@media screen and (min-width: 1000px) {
  body {
   /* background-image: url('../images/hero-large.webp');
    background-size: cover;
    background-position: center;*/
    margin: 0;
    font-size: 16px;
    }

    header {
        padding: 1rem;
        text-align: center;
        border-bottom: 20px solid #2e7d32;
        
    }

    .hero {
        position: relative;
        width: 100%;
        height: 90vh;
        overflow: hidden;
    }

    .hero img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    .data,
    .weather {
     padding: 1rem 2rem;
     position: absolute;
     border-radius: 8px;
     background-color: rgba(255, 255, 255, 0.9);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.data {
    top: 25%;
    left: 5px;
    width: 280px;
}

.weather {
    top: 60%;
    right: 5%;
    width: 280px;
    color: black;
}

.data h2,
.weather h2 {
    background-color: #2e7d32;
    color: white;
    padding: 0.5rem;
    margin: -1rem -2rem -1rem -2rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
  }
