

body {
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
}

h1 {
    text-align: center;
    background-color: #000;
    color: white;
    padding: 10px;
    margin: 0;
}

.data {
     text-align: center;
     background-color: yellow;
     padding: 5px;

}

.weather {
    background-color: red;
    text-align: center;
    padding: 5px;
}


.hero picture img {
    
}

.cards {
    
}

footer {
    background-color: #000;
    color: white;
    padding: 5px;
    
    
}