body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #fefae0;
    color: #3e3e3e;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}  

header {
    background-color: black;
    color: yellow;
    margin-left: 1px;
    margin-right: 1px;
}

/*#nav-menu ul {
    display: flex;
    flex-direction: row;
    gap: 90px;
    list-style: none;
    padding: 0;
    margin-left: 80px;
}

#nav-menu li a {
    text-decoration: none;
    color: red;
    padding: 10px;
}*/

.top-bar {
    background-color: #005c5c;
    color: white;
    padding: 10px 20px;
}

#nav-menu ul {
    list-style: none;
    display: flex;
    gap: 80px;
    padding: 0;
    margin: 10px 0;
    justify-content: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top h1 {
    flex: 1;
    text-align: center;
    margin: 0;
}

#nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#logo {
    width: 80px;
    height: auto;
    border-radius: 50px;
}

.hamburger {
    display: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}


main {
    margin: 20px;
}

.responsive h4 {
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  color: red;
}

.responsive img {
    width: 100%;
    height: auto;
    display: block;
}

#welcome-message {
    color: red;
}


.form-section {
    padding: 30px 20px;
    background-color: #f9f9f9;
}

.booking-form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.booking-form label {
    font-weight: bold;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.booking-form button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.booking-form button:hover {
    background-color: #004d40;
}

.message-box {
    background-color: #e0ffe0;
    border: 2px solid #009900;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}

.text {
    text-align: center;
}

.home-link {
    text-align: center;
}

.book {
    text-align: center;
}

footer {
    text-align: center;
    background-color: black;
    color: red;
    margin-left: 1px;
    margin-right: 1px;
}
