@media screen and (max-width: 600px) {
    .hamburger {
        display: block;
    }

    #nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    #nav-menu.show {
        display: flex;
    }

    #nav-menu ul {
        flex-direction: column;
        gap: 10px;
}
}