
body {
    font-family: monospace;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    font-weight: 100;
    background-color: #666;
    text-align: center;
    color: white;
    font-size: 25px;
    margin: 0;
}

.nav-menu {
background-color: #000;
font-size: 22px;
padding: 5px;
}

.nav-list {
list-style: none;
display: flex;
margin: 0;
}

.nav-list li {
    margin-right: 200px;
}

.nav-list a {
    color: yellowgreen;
    text-decoration: none;
    position: relative;
 
}

main {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
    max-width: 600px;
    margin-inline: auto;

}

.card {
    background-color: #666;
    color: white;
    text-align: center;
    margin: 0;
    padding: 1px;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    
   
    }

    .card h2 {
        margin-top: 0;
    }

    .card img {
        max-width: 150px;
        height: auto;
      
    }

@media (min-width: 700px) {
    main {
         grid-template-columns: repeat(2,1fr);

    }
    
}

footer {
    text-align: center;
    background-color: #000;
    color: yellowgreen;
}